@model Filminurk.Models.FavouriteList.FavouriteListIndexImageViewModel
<div>
	@if (!Model.Image.Any() ||Model == null)
	{
		<p> Pilte pole</p>
	}	
</div>
@if(Model.ImageTitle == "Poster")
{
	<img class="card-image-top" src="@Model.Image" asp-append-version="true"/>
}
else
{
	<img width="128" src="~/lib/defaultassets/image/noposter.png" />
}
